.rvmrc
.bundle
.DS_Store
Gemfile.lock

# docs
doc/*
rdoc
.yardoc

# editors
*.tmproj
*.swp
.idea

# rcov
coverage

# rails plugin boilerplate
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
